# Runtime
NODE_ENV=development
BASE_URL=http://localhost:3000

# DB (Etapa 6/7)
DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=

# Secrets (PR1 placeholders)
SESSION_SECRET=vkJpGVeqRxO2nCsJyDQUnRSPqcGiJ9SMmNbdGNV8zwOaptvSeXjMKIHblefc7W3o
TOKEN_SECRET=kcP1sm3Z3wmPRt5gq1CqwVG9TPW4WixD4qA7RNbyWBSNnJ1OYwT0fRr9sA86UiPH

# CORS/Config (PR2 placeholders)
ALLOWED_ORIGIN=https://haxixesmokeclub.com
SESSION_TTL_DAYS=7
MAGICLINK_TTL_MIN=15